# registry=https://jfrog.commercialdev.dev.veedna.com/artifactory/gos-all-npm/
registry=https://veednainc.jfrog.io/artifactory/gos-all-npm/
_auth=${NPM_AUTH_TOKEN}
always-auth=true
email=gritik95@gmail.com
